* {
    padding: 0px;
    margin: 0px;
   
}

body {
    background-color: white;
    background-image:repeating-linear-gradient(45deg, #00000010 0px, #0000001e 2px, #0000 8px, #0000 5px);
}

.navbar {
    display: flex;

    width: 100%;
    height:35px;
    background-color: grey;
    color: rgb(0, 0, 0);
    
    justify-content: space-between;
    margin-left: auto;

   
    align-items: center;
    padding: 0 40px;
}

.menu{

    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
}


.head {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size:200%;
   

   
}

#textarea {
    
   
    width: 100%;

}

.btn {
    color :rgb(5, 255, 255);
    width: 100px;
    
    background-color: rgb(0, 0, 0);
   
}